.hero-section {
    background-color: #5a5a5a;
    /* Change to dark gray */
    padding: 40px 20px;
    text-align: center;
    margin-top: 10px;
}

.hero-section h1 {
    margin: 0 0 10px;
    font-size: 2.5em;
    color: black;
    /* Change text color to white */
}

.hero-section p {
    font-size: 1.2em;
    color: black;
    /* Change text color to white */
}

.hero-section button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 300;
}
.hero-section button:hover {
    background-color: white;
    color: black;
}