.course-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 20px);
    text-align: center;
}

.course-card img {
    width: 100%;
    height: auto;
}

.course-card h3 {
    margin: 10px 0;
}

.course-card p {
    margin: 10px 0;
}

.link-no-underline {
    text-decoration: none;
    color: inherit;
}